/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-jun-2016, 13:31:11
    Author     : VakSF
*/

#pane {
    
    -fx-border-style: solid;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

#myButton {
    
    -fx-border-style: solid;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    
}